body {
  background-color: #AEBDCB;
  font-family: 'Reenie Beanie', cursive;

}

h3{
  font-size: 60px;
  text-align: center;
  color: red;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#harry-mark {
  color: blue;
  font-size: 1.5rem;
}

.button:hover{
  background: LemonChiffon;
}
  
.landing-page{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/coffee-beans-.jpg");
  background-size: cover;
}

#and{
  margin-top: 15px;
}

#title {
  color: #732C2C;
}

.landing-page p h5 {
  color: #732C2C;
}