body {
  background-color: #355C7D;
  font-family: 'Reenie Beanie', cursive;

}

h1{
  font-size: 45px;
  font-family: Times New Roman;
  text-align: center;
  color: #FFFFFF;
}

h3{
  font-size: 60px;
  text-align: center;
  color: #FFFFFF;
}

img{
  margin: auto;
}

p{
  font-size: 30px;
  text-align: center;
  font-family: 'Comic Sans MS', 'sans-serif';
}

#harry-mark {
  color: blue;
  font-size: 1.5rem;
}
