body {
  background-color: rgb(255,248,220);
  font-family: 'Reenie Beanie', cursive;
}

h1{
  font-size: 44px;
  text-align: center;
}

img{
  margin: auto;
}

p{
  font-size: 30px;
  text-align: center;
  font-family: 'Comic Sans MS', 'sans-serif';
}
